################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AspNetCoreAPI_Angular/Backend_Code/aspNetCoreWebAPI/aspNetCoreWebAPI/bin/Debug/net8.0
/AspNetCoreAPI_Angular/Backend_Code/aspNetCoreWebAPI/aspNetCoreWebAPI/obj
/AspNetCoreAPI_Angular/Backend_Code/aspNetCoreWebAPI/.vs/aspNetCoreWebAPI
/AspNetCoreAPI_Angular/Backend_Code/aspNetCoreWebAPI/.vs/ProjectEvaluation
/AspNetCoreAPI_Angular/.vs
/.vs
